.banner{
   
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    padding-top: 17rem;
    height: 90vh;
    -webkit-box-shadow: inset -1px -37px 47px 50px #000000;     
    box-shadow: inset -1px -37px 47px 50px #000000c9;
}
.content{
    text-shadow: 4px 4px 8px #000000;
    color: #fff;
    
}

.title{
   
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.description{
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 1rem;
    max-width: 700px;
}
.button{
    margin-top: 1rem;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    background-color: rgba(51, 51, 51, 0.5);
    cursor: pointer;
    margin-right: 1.5rem;
    transition: all 0.5s ease-in-out;
    
}

.button:hover{
    color: black;
    background-color: #e6e6e6;
}

.banner-i{
    font-size: 20px;
    padding-right: 0.5rem;
}

@media screen and (max-width: 558px){
    .title{
        font-size: 30px;
    }
    .description{
        font-size: 17px;
    }
    
}